version: '3.8'
services:
  logitar_mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: Logitar.NET_mssql
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: faQphSAm596DxBN4
    ports:
      - 1434:1433

  logitar_postgres:
    image: postgres
    container_name: Logitar.NET_postgres
    environment:
      POSTGRES_PASSWORD: F2n5WCB4e7tgfqEJ
    ports:
      - 5434:5432

  logitar_demo:
    build:
      context: .
      dockerfile: /src/Logitar.Demo/Dockerfile
    image: logitar_demo
    container_name: Logitar.NET_demo
    restart: unless-stopped
    environment:
      ASPNETCORE_Environment: Development
    ports:
      - 22277:8080
